body {
    font-family: Times, sans-serif;
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #a6cfff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the body covers at least the full viewport */
}

.contacts-container {
    background-color: #eaf2f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px; /* Adjust width for more space */
    text-align: left; /* Aligns text inside to the left */
    margin: 40px 0;
    max-height: 90vh; /* Limits the height */
    overflow: auto;
}

h1 {
    font-size: 48px; /* Reduced font size for better fit */
    margin-bottom: 40px;
    text-align: center; /* Keeps the title centered */
}


button {
    width: 100%;
    padding: 10px;
    background-color: #599be6;
    color: white;
    font-weight: lighter;
    border: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #285f9e;
}
