/* landing.css */
body {
    font-family: Times New Roman, sans-serif;
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #a6cfff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    color: #333;
    background-color: #eaf2f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* field inputs could delete as it does nothing */
.field-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-input label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #599be6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #285f9e;
}

p {
    margin-top: 15px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
