body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #a6cfff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.register-container {
    display: flex;
    background-color: #eaf2f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    padding: 20px;
    width: 300px;
    text-align: center;
}

h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

button {
    border: none;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #599be6;
    color: white;
    border-radius: 4px;
}

button:hover {
    background-color: #285f9e;
}